# Public key from Chec's demo merchant account. This client key will enable you to deploy a live preview with
# Netlify's one-click deploy. Replace this key with your own account's public key afterwards.
NEXT_PUBLIC_CHEC_PUBLIC_KEY=pk_178511bb808cdcaa54deba073eefe51688eb9cf470dfe
# Set the environment for your application, e.g. "development"
NODE_ENV=
# If you're using Stripe, add your publishable key here
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
# Secret key is used with chec/seeder to access your Chec account to seed it with sample data
CHEC_SECRET_KEY=
CHEC_API_URL=https://api.chec.io
