header {
  z-index: 10;
}

.header {
  padding: 1.5rem 3rem;

  @include small-xs {
    padding: 1.25rem 1.5rem 1.25rem 1rem;
  }

  .logo-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include small-xs {
      position: static;
      transform: none;
    }
  }

  .logo {
    width: auto;
    height: 0.8rem;

    // @include small-xs {
    //   height: 0.9rem;
    // }
  }

  .cart-count {
    right: -4px;
    top: -4px;
    max-width: 10px;
  }
}

.mobile-menu-inner {
  padding: 7rem 1.5rem;
}
