// ####################################### //
// ## COLORS.SCSS ## //
// ####################################### //

$light-weight: 200;
$regular-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$bold-weight: 700;

$black: #000;
$white: #fff;

$black-900: #080b0e;
$black-800: #0d1116;
$black-700: #151b21;
$black-600: #222931;
$black-500: #2e3640;
$black-400: #48515c;
$black-300: #57616e;
$black-200: #697483;
$black-100: #7c8698;

$gray-900: #8a94a6;
$gray-800: #98a1b1;
$gray-700: #a7aebb;
$gray-600: #b0b7c3;
$gray-500: #c9ced6;
$gray-400: #e1e4e8;
$gray-300: #f1f2f4;
$gray-200: #f7f8f9;
$gray-100: #fdfbfc;

$brand-900: #9c0038;
$brand-800: #cd0049;
$brand-700: #f8055c;
$brand-600: #ff3a81;
$brand-500: #ff689e;
$brand-400: #ff96bc;
$brand-300: #ffbed6;
$brand-200: #ffdce9;
$brand-100: #fff6f9;

$info-900: #01408f;
$info-800: #026dd6;
$info-700: #0284fe;
$info-600: #4ba7fe;
$info-500: #83c3fe;
$info-400: #b3daff;
$info-300: #dceeff;
$info-200: #eef7ff;
$info-100: #f8fbff;

$danger-900: #c50901;
$danger-800: #dd2018;
$danger-700: #ee3e37;
$danger-600: #fe6963;
$danger-500: #ffa09c;
$danger-400: #ffc3c0;
$danger-300: #ffe1e0;
$danger-200: #fff2f1;
$danger-100: #fffaf9;

$success-900: #0e7c5f;
$success-800: #229b7b;
$success-700: #3bbc9a;
$success-600: #58d0b0;
$success-500: #83eacf;
$success-400: #bfffee;
$success-300: #dffff6;
$success-200: #f1fffb;
$success-100: #f9fffd;

$warning-900: #fa912c;
$warning-800: #faa12c;
$warning-700: #fdb94c;
$warning-600: #ffce6d;
$warning-500: #ffdc89;
$warning-400: #ffebad;
$warning-300: #fff9d1;
$warning-200: #fffbe3;
$warning-100: #fffef6;
